name: telegram report number of yotas of each member
on: 
  schedule:
    cron: "0 13 28"


jobs:
  build:
    defaults:
      run:
        working-directory: ./.github/workflows/members_yotas
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: get number of yotas of each member
        run: python extract.py > members_yotas_message

      - name: send custom message to osscameroon channel
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_OSSCAMEROON_CHANNEL_ID }}
          token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          format: MarkdownV2
          message_file: ./.github/workflows/members_yotas/members_yotas_message

      - name: send custom message to osscameroon telegram group
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_OSSCAMEROON_GROUP_ID }}
          token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          format: MarkdownV2
          message_file: ./.github/workflows/members_yotas/members_yotas_message